{% extends 'gum/base.html' %}
{% load static %}
{% block content %}
<div class="jumbotron">
  <h1 class="display-4">Hello, world!</h1>
  <p class="lead">This is a simple hero unit, a simple jumbotron-style component for calling extra attention to featured content or information.</p>
  <hr class="my-4">
  <p>It uses utility classes for typography and spacing to space content out within the larger container.</p>
  <p class="lead">
    <a class="btn btn-primary btn-lg" href="#" role="button">Learn more</a>
  </p>
</div>

<div class="pagination">
  {% if movies_type.has_previous %}
    <a href="?page=1">first</a>
    <a href="?page={{ movies_type.previous_page_number }}">previous</a>
  {% endif %}
  {% for num in movies_type.paginator.page_range %}
    {% if movies_type.number == num %}
      <strong>{{num }}</strong>
    {% elif num > movies_type.number|add:'-2' and num < movies_type.number|add:'2' %}
      {{ num }}
    {% endif %}
  {% endfor %}
  {% if movies_type.has_next %}
    <a href="?page={{movies_type.next_page_number}}">next</a>
    <a href="?page={{ movies_type.paginator.num.pages }}">last</a>
  {% endif %}


</div>
<div class="testcard">
  <div class="row">
      {% for movies_types in movies_type %}
  <div class="col-sm-4">
    <div class="card">
      <div class="card-body">
        <h5 class="card-title">{{ movies_types.movie_name }}</h5>
        <p class="card-text">{{ movies_types.movie_actor }}</p>
        <p class="card-text">{{ movies_types.movies_actress }}</p>
        <p class="card-text">{{ movies_types.movie_released }}</p>
        <a href="{% url 'gumhomeedit' movies_types.id %}" class="btn btn-primary">Edit</a>
        <a href="{% url 'gumhomedelete' movies_types.id %}" class="btn btn-primary">Delete</a>
      </div>
    </div>
  </div>
  {% endfor %}
</div>
</div>
{% endblock %}
